<%- include('partials/header.ejs') %>

<div class="container" style="height: 70vh">
  <h1 class="text-center">About me</h1>
  <img
    class="rounded-circle mx-auto d-block card"
    width="150"
    src="images/img1.png"
    alt=""
  />
  <div class="mt-3 text-center ">
    <h2>"I am Danesh Verma a passionate full stack web developer"</h2>
    <p>My journey into web development began with a curiosity to understand how the digital world operates. Through self-study and hands-on projects, I've honed my skills With a solid foundation in both front-end and back-end development, I excel in creating responsive and intuitive web applications. Proficient in HTML, CSS, JavaScript, and familiar with frameworks such as React on the front end, coupled with expertise in Node.js and Express on the back end, I am poised to tackle challenges across the full development stack.</p>
  </div>
</div>
<%- include('partials/footer.ejs') %>
