<%- include('partials/header.ejs') %>

<body>
  <div class="container" style="height: 70vh">
    <div class="welcome">
      <div>
        <h1 class="heading">Welcome to BlogHost</h1>
      </div>
      <div>
        <p class="subheading">
          Perfect destination for sharing and Gethering knowledge among peoples
        </p>
      </div>
      <div class="buttons">
        <button class="viewpost"><a href="/posts">View Posts</button></a>
        <button class="Createpost"><a href="/create">Create a Post</button>
      </div>
    </div>
  </div>
</body>

<%- include("partials/footer.ejs") %>
